<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 扫描 -->
	<context:component-scan base-package="com.pengjinfei">
		<!-- 不包括Controller层 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<bean class="com.pengjinfei.common.BeanPostProcessor.ParameterizedPropertyPlaceholderConfigurer" id="placeholderConfigurer">
		<property name="locations">
			<array>
				<value>classpath*:*.properties</value>
			</array>
		</property>
	</bean>

	<import resource="*/spring-*.xml"/>

	<bean class="com.pengjinfei.common.BeanPostProcessor.DubboServiceAutoExportPostProcessor"/>

    <bean class="com.pengjinfei.common.BeanPostProcessor.LockAopPostProcessor"/>

	<bean class="com.pengjinfei.common.BeanPostProcessor.LockPostConstructPostProcessor"/>
</beans>