<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.alibaba.druid.pool.DruidDataSource" id="quartzDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="defaultAutoCommit" value="true"/>
    </bean>

    <bean id="quartzTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="quartzDataSource"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" id="scheduler">
        <property name="configLocation" value="classpath:quartz/quartz.properties"/>
        <property name="applicationContextSchedulerContextKey" value="${quartz.applicationContextSchedulerContextKey}"/>
        <property name="dataSource" ref="quartzDataSource"/>
        <property name="transactionManager" ref="quartzTransactionManager"/>
        <property name="schedulerName" value="backScheduler"/>
        <property name="overwriteExistingJobs" value="true"/>
<!--        <property name="jobFactory">
            <bean class="com.pengjinfei.common.quartz.AutowiringSpringBeanJobFactory"/>
        </property>-->
        <property name="quartzProperties">
            <props>
                <prop key="org.quartz.jobStore.useProperties">true</prop>
            </props>
        </property>
    </bean>
</beans>