<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.pengjinfei.common.quartz.LocalSchedulerFactoryBean" id="scheduler">
        <property name="configLocation" value="classpath:quartz/quartz.properties"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="schedulerName" value="backScheduler"/>
        <property name="overwriteExistingJobs" value="true"/>
        <property name="startupDelay" value="10"/>
        <property name="autoStartup" value="true"/>
    </bean>

    <bean class="com.pengjinfei.common.BeanPostProcessor.QuartzJobAutoRegistryPostProcessor"/>
</beans>